<h1 class="text-center"><%=pluralize(@posts.count, "Result")%></h1>
<div class="container">
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th><%= sort_link(@q, :title, "Title", default_order: :asc) %></th>
        <th><%= sort_link(@q, :body, "Blog Content") %></th>
        <th><%= sort_link(@q, :user_name, "Users") %></th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= link_to post.title, post %></td>
          <td><%= post.body.to_plain_text.truncate_words(25) %></td>
          <td><%= link_to post.user.name, post.user %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>